{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    [
      "@linaria/babel-preset",
      {
        "evaluate": true,
        "displayName": true
      }
    ]
  ]
}

